body {
    position:relative;
    padding: 0px;
    margin: 0px;
    font: var(--body-font);
    letter-spacing: 0.5px;
    color: #282A2A;
}

*, *::before, *::after { 
    box-sizing: border-box; 
  }

:root {

    /*FONTS*/
    --sans: 'Work Sans', sans-serif;
    --display:  'Abril Fatface', serif;
    --body-font: var(--body-font-size)/180% var(--sans);
    --body-font-size: 0.8125rem;
  
    /*COLORS*/
    --clear: rgba(255, 255, 255, 0);
    --white: 249, 247, 246;
    --white-hex: #F6F8F8;
    --white2: 238, 238, 238;
    --white2-hex: #eee;
    --white3: 240, 240, 240;
    --white3-hex: #f0f0f0;
    --gray: 221, 221, 221;
    --gray-hex: #ddd;
    --gray2: 130, 130, 130;
    --gray2-hex: #828282;
    --black: 40, 42, 42;
    --black-hex: #282A2A;
    --accent: 184,150,212;
    --accent-hex: #b896d4;

    /*OTHER - place your other variables below*/
    --spacing: 10vw;
    --text-shadow: 1px 1px var(--gray2-hex), 1px -1px var(--gray2-hex), -1px 1px var(--gray2-hex), -1px -1px var(--gray2-hex);
}

a {
    color:var(--black-hex);
    text-decoration:none;
    cursor: crosshair;
}

/** HEADER **/

header {
    position:relative;
    display:block;
    margin:0 auto;
    width:100vw;
    height:100vh;
    background:url('https://images.unsplash.com/photo-1551554781-c46200ea959d?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1600&q=80');
    background-size:cover;
    background-position:center center;
    background-attachment:fixed;
}

nav {
    position:fixed;
    display:block;
    background:var(--white-hex);
    width:100%;
    top:0;
    margin:0 auto;
    text-align:center;
    border-bottom:1px solid var(--gray-hex);
    z-index:9999999;
}


nav ul li {
    display:inline-block;
}

nav ul li a {
    color:var(--black-hex);
    text-decoration:none;
    margin:30px;
    transition:.3s;
}

nav ul li a:hover {
    color:var(--accent-hex);
    transition:.3s;
}

.header_text {
    position:relative;
    margin:0 auto;
    top:45vh;
}

h1 {
    position:relative;
    top:50%;
    text-align:center;
    color:var(--accent-hex);
    font:800 2.5rem 'Abril Fatface';
    text-transform:uppercase;
}

h2 { 
    position:relative;
    display:block;
    margin-top:-20px;
    text-align:center;
    font:300 1rem 'Work Sans';
    text-transform:lowercase;
    letter-spacing:2.25px;
}

/** MAIN **/

main {
    position:relative;
    display:block;
    margin:100px auto 0;
}

#wrapper {
    margin:0 auto 0px;
    width: min(calc(100vw - (var(--spacing) * 2)), 1500px);
    background:var(--white-hex);
    border:1px solid var(--gray-hex);
    border-radius:5px;
}

.about_me {
    position:relative;
    display:grid;
    grid-template-areas: 
        "sheading sheading"
        "image description";
    grid-template-columns: 400px 1fr;
    grid-template-rows:1fr 7fr;
    grid-column-gap:10px;
    padding:30px;
}

.about_me .sheading, .contact_me .sheading {
    grid-area: sheading;
    font:800 1.9rem var(--display);
    color:var(--accent-hex);
    text-transform:uppercase;
    margin:30px;
}

.about_me .about_img {
    display:flex;
    flex-flow:column;
    justify-content: center;
    align-items: center;
}

.about_me .about_img h3 {
    display:block;
    text-align:center;
    font:300 1rem 'Work Sans';
    text-transform:lowercase;
    letter-spacing:2.25px;
}

.about_me .about_img h3 small {
    display:block;
    font:800 1.9rem var(--display);
    color:var(--accent-hex);
    text-transform:uppercase;
    letter-spacing:0;
}

.about_me img {
    grid-area: image;
    width:400px;
    height:640px;
    object-fit:cover;
    object-position:center center;
    border:1px solid var(--gray-hex);
    border-radius:5px;
}

.about_me .description {
    grid-area: description;
    margin:0 35px;
}

.about_me .description .description_grid {
    display:grid;
    grid-template-areas: 
        "education experience";
    grid-template-columns: 1fr 1fr;
}

.about_me .description .description_section {
    margin-bottom:20px;
}

.about_me .description .description_section h3, .contact_me .contact_me_form h3 {
    color:var(--accent-hex);
    text-transform:uppercase;
    font-size:1.2rem;
}

.about_me .description .description_section .description_item {
    display:flex;
    flex-flow:column;
    justify-content:center;
    align-items:flex-start;
    margin-bottom:15px;
}

.contact_me {
    position:relative;
    display:grid;
    grid-template-areas: 
        "sheading sheading"
        "details form";
    grid-template-columns: 1fr 1fr;
    grid-template-rows:1fr minmax(350px, auto);
    grid-column-gap:10px;
    padding:30px;
}

.contact_me .contact_me_details {
    grid-area: details;
    padding:30px;
}

.contact_me .contact_me_form {
    grid-area:form;
    padding:30px;
    font: var(--body-font);
}

.inputarea {
    margin-bottom:5px;
    padding:5px;
    width:49%;
    font: var(--body-font);
    border:1px solid var(--gray-hex);
    border-radius:5px;
}

.textarea {
    margin:10px 0;
    padding:10px;
    width:99%;
    font: var(--body-font);
    border:1px solid var(--gray-hex);
    border-radius:5px;
}

.button {
    padding:5px 15px;
    font: 800 var(--body-font);
    text-transform:uppercase;
    border:1px solid var(--gray-hex);
    border-radius:5px;
}

.inputarea:focus-visible, .textarea:focus-visible, .button:focus-visible {
    outline-color: var(--accent-hex);
}

/** FOOTER **/

footer {
    position: relative;
    display: grid;
    grid-template-rows:3fr 1fr;
    grid-template-columns:repeat(4, 1fr);
    width: 100vw;
    bottom: 0;
    margin: 50px 0 0;
    padding: 50px;
    background: var(--white-hex);
    border-top:1px solid var(--gray-hex);
}

footer .footer_logo {
    display:flex;
    flex-flow:row;
    justify-content: center;
    align-items: center;
    font:800 1.5rem var(--display);
    color:var(--accent-hex);
}

footer h3 {
    font:800 1rem var(--display);
    color:var(--accent-hex);
    text-transform:uppercase;
}

footer .footer_section {
    position:relative;
}

footer .footer_section a {
    display:flex;
    flex-flow:column;
    text-transform:capitalize;
}

footer .footer_socials {
    grid-column:1/-1;
    display:flex;
    flex-flow:row;
    justify-content:center;
    align-items:center;
}

footer .footer_socials i {
    margin:10px;
    font-size:30px;
    color:var(--accent-hex);
}
